<!DOCTYPE html>
<html>
    <style>
        .error { color: red; }
    </style>
        <link rel="stylesheet" type="text/css" href="styles.css">
    <head>
        <title>Blogz</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/blog">Main Blog Page</a>
                <a href="/newpost">Add a Blog Entry</a>
                <a href="/signup">User Signup</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </body>
    
    
</html>
